.Header {
  padding: 20px 0;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav {
      display: flex;
      align-items: center;
      gap: 40px;
      a {
        color: white;
        font-size: 18px;
      }
    }
  }
}
