.TodoList {
  padding: 40px 0;
  .content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    .card {
      width: 320px;
      background: white;
      color: black;
      border-radius: 10px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      text-align: center;
      img {
        border-radius: 10px;
        width: 300px;
        object-fit: cover;
        height: 300px;
      }
      h1 {
        font-size: 25px;
      }
    }
  }
}
