.TodoList {
  padding: 40px 0;
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-radius: 10px;
      width: 350px;
      padding: 20px;
      background: rgba(255, 255, 255, 0.45);
      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
      }
      h1 {
        font-size: 20px;
      }
      p {
        cursor: pointer;
        font-size: 18px;
      }
      .btnDel {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 25px;
        background: none;
      }
      .btnUpdate {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 25px;
        background: none;
      }
    }
  }
}
